[submodule "server/fadecandy"]
	path = server/fadecandy
	url = git@github.com:GlamCocks/fadecandy
[submodule "server/openpixelcontrol"]
	path = server/openpixelcontrol
	url = https://github.com/zestyping/openpixelcontrol
